@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.projects-header {
  color: white;
  font-size: 60px;
  margin-top: -20px;
  margin-bottom: 5px;
  padding: 0;
}

.main-pro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin: 10px;
}

.pro-stamp {
  height: 10em;
  width: 50%;
  border: 2px dotted whitesmoke;
  transition: transform .5s ease;
  margin-top: 15px;
  position: relative;
}

.pro-stamp:hover {
  cursor: pointer;
  transform: scale(1.05);
  border: 2px dotted purple;
}

.link-container {
  height: 100%;
  width: 100%;
  /* background-image: url('https://marmot-clone-start.s3-us-west-1.amazonaws.com/Screen+Shot+2019-06-01+at+4.25.18+AM.png'); */
  background-size: contain;
  position: absolute;
  display: table;
}

.link-title {
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  color: white;
}

a:link    {
  text-decoration:  none;
  /* font-weight:      bold; */
  /* background-color: #ddd; */
  color:            white;
  } 

  a:visited    {
  text-decoration:  none;
  color:            white;
  } 

