  @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  /* position: relative; */
  height: 60vh;
  /* filter: grayscale(100%); */
  margin-top: -7.5em;
  /* border: 2px solid red; */
   -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(60deg);
}

img:hover {
  -webkit-filter: none;
  filter: none;
} 

.linkedin-button {
  padding: 5px;
  height: 5em;
  width: 15em;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border: white;
}

.below-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  height: 4em;
  width: 14em;
  margin-top: 1em;
  border: 2px dotted black;
  transition: transform 1s ease;
}

.linkedin-button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

a:link    {
  text-decoration:  none;
  color:            black;
  } 

  a:visited    {
  text-decoration:  none;
  color:            black;
  } 

