  @import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  /* position: relative; */
  height: 60vh;
  filter: grayscale(100%);
  margin-top: -7.5em;
  /* border: 2px solid red; */
}

.linkedin-button {
  margin-top: 2em;
  height: 5em;
  width: 15em;
  z-index: 10;
  font-size: 12px;
  background-image: url(https://marmot-clone-start.s3-us-west-1.amazonaws.com/LinkedIn-Blue-14%402x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

a:link    {
  text-decoration:  none;
  color:            black;
  } 

  a:visited    {
  text-decoration:  none;
  color:            black;
  } 

